- List
    - sequential(ordered)
    - mixed datatpye(heterogeneous)
    - can be empty
    - can have duplicates
    - is mutable(we can add or remove elements)
    - represented as [] (square brackets) in python
    - list function creates a list

- what you are going to learn
    - creation 
    - indexing and slicing
    - methods
    - comprehension

In [1]:
a = [] # empty

In [2]:
type(a)

list

In [3]:
b = [23,34,12,56,78] # numeric list
c = ['Alex','Ana','Billy'] # string
d = ['Alex',300,'Billy',40,'Ana',25] # mixed
e = [[1,2,3],[2,3,4],[4,5,6]] # nested list(list within a list)
f = [1]*10 # duplicated list

In [4]:
print(b)
print(c)
print(d)
print(e)
print(f)

[23, 34, 12, 56, 78]
['Alex', 'Ana', 'Billy']
['Alex', 300, 'Billy', 40, 'Ana', 25]
[[1, 2, 3], [2, 3, 4], [4, 5, 6]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
for i in d:
    print(i, end=' ')

Alex 300 Billy 40 Ana 25

In [7]:
word = 'wikipedia'
charlist = list(word)
print(charlist)

['w', 'i', 'k', 'i', 'p', 'e', 'd', 'i', 'a']

In [8]:
word = 'wikipedia'
charlist[0]

'w'

In [9]:
charlist[-1]

'a'

In [10]:
charlist[:4]

['w', 'i', 'k', 'i']

In [11]:
charlist[4:]

['p', 'e', 'd', 'i', 'a']

In [12]:
charlist[::-1]

['a', 'i', 'd', 'e', 'p', 'i', 'k', 'i', 'w']

In [15]:
charlist.reverse()

list has 11 methods
- adding items
    - append()
    - insert()
    - extend()
- removing items
    - remove()
    - pop()
    - clear()
- utility items
    - reverse()
    - count()
    - index()
    - copy()
    - sort()

In [16]:
numbers = []
numbers.append(2)
numbers.append(3)
numbers.append(4)
numbers.append(5)
print(numbers)

[2, 3, 4, 5]

In [20]:
for i in range(5):
    v = int(input("enter a number"))
    numbers.append(v)
    print(numbers)

[2, 3, 4, 5, 3, 4, 3, 2, 45, 23, 2]
[2, 3, 4, 5, 3, 4, 3, 2, 45, 23, 2, 4]
[2, 3, 4, 5, 3, 4, 3, 2, 45, 23, 2, 4, 5]
[2, 3, 4, 5, 3, 4, 3, 2, 45, 23, 2, 4, 5, 7]
[2, 3, 4, 5, 3, 4, 3, 2, 45, 23, 2, 4, 5, 7, 8]

In [21]:
print(numbers)

[2, 3, 4, 5, 3, 4, 3, 2, 45, 23, 2, 4, 5, 7, 8]

In [26]:
numbers.remove(4)

In [27]:
print(numbers)

[2, 3, 5, 3, 4, 3, 2, 23, 2, 4, 5, 7, 8]

In [28]:
numbers

[2, 3, 5, 3, 4, 3, 2, 23, 2, 4, 5, 7, 8]

In [29]:
numbers.insert(2, 4)

In [30]:
print(numbers)

[2, 3, 4, 5, 3, 4, 3, 2, 23, 2, 4, 5, 7, 8]

In [31]:
numbers.insert(8, 56)

In [32]:
print(numbers)

[2, 3, 4, 5, 3, 4, 3, 2, 56, 23, 2, 4, 5, 7, 8]

In [33]:
numbers.insert(56, 82) # insert at index 56 will put the data at the end of list, as we dont have index 56 in list

In [34]:
print(numbers)

[2, 3, 4, 5, 3, 4, 3, 2, 56, 23, 2, 4, 5, 7, 8, 82]

In [35]:
numbers.pop(3) # remove the data at index 3

5

In [36]:
print(numbers)

[2, 3, 4, 3, 4, 3, 2, 56, 23, 2, 4, 5, 7, 8, 82]

In [37]:
numbers.pop() # removes the last item

82

In [38]:
print(numbers)

[2, 3, 4, 3, 4, 3, 2, 56, 23, 2, 4, 5, 7, 8]

In [39]:
numbers.clear()
print(numbers)

[]

In [41]:
x = [1,2,3]
y = [2,3,5]
# merge a list into other
x.extend(y)
print(x)
print(y)
x.append(y)
print(x)

[1, 2, 3, 2, 3, 5]
[2, 3, 5]
[1, 2, 3, 2, 3, 5, [2, 3, 5]]

In [43]:
z = x+y
print(z)

[1, 2, 3, 2, 3, 5, [2, 3, 5], 2, 3, 5]

In [44]:
primes = []
for num in range(2,1000):
    for i in range(2, num):
        if num%i == 0:
            break
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

# enumerate function

In [1]:
# simple form
x = [12,67,78,78,56]
for i in x:
    print(i)

12
67
78
78
56

In [2]:
# using enumerate function
for i,v in enumerate(x):
    print(i,v)

0 12
1 67
2 78
3 78
4 56

# other functions

In [3]:
x = [1,2,3,1,3,2,1,3,2,3,3,2,3,1,2,3,1,2,3,1,2,3,1,2,3,2,3,1]

In [4]:
x.count(3)

11

In [5]:
x.count(5)

0

In [6]:
x.sort()
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [7]:
x.sort(reverse=True)
print(x)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1]

In [9]:
names = ['Desmond','Alex','Samus','Jerry','Freddy','August']

In [11]:
print(names.index("Freddy"))

4

In [12]:
names.reverse()
print(names)

['August', 'Freddy', 'Jerry', 'Samus', 'Alex', 'Desmond']

In [13]:
names.sort()
print(names)

['Alex', 'August', 'Desmond', 'Freddy', 'Jerry', 'Samus']

In [14]:
names.sort(reverse=True)
print(names)

['Samus', 'Jerry', 'Freddy', 'Desmond', 'August', 'Alex']

In [15]:
names = ['Desmond','Alex','Samus','Jerry','Freddy','August']

In [16]:
backup = names

In [17]:
backup_v2 = names.copy()

In [18]:
names.remove("Samus")

In [19]:
backup_v2.append("Markus")

In [20]:
print(names)
print(backup)
print(backup_v2)

['Desmond', 'Alex', 'Jerry', 'Freddy', 'August']
['Desmond', 'Alex', 'Jerry', 'Freddy', 'August']
['Desmond', 'Alex', 'Samus', 'Jerry', 'Freddy', 'August', 'Markus']

mutable vs immutable

In [1]:
quote = 'I am very simple person'
names = ['Desmond','Alex','Samus']

In [ ]:
quote[7] = 'W' #this line will give error since strings are immutable

In [3]:
names[2] = 'Markus' #valid
print(names)

['Desmond', 'Alex', 'Markus']