# Tuples

In [2]:
# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse", [8,4,6], (1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
# A tuple can also be created without using paratheses
# This is known as tuple packing
my_tuple = 3, 4.6, "Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [1]:
# concatenation
# output: (1,2,3,4,5,6)
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [2]:
#Repaet
#output: ('Repeat','Repeat','Repeat')
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [5]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))  #output:2
print(my_tuple.index('l'))  #output:3

2
3

# Sets

In [6]:
# set of integers
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [7]:
#set of mixed datatype
my_set = {1.0, "Oye", (1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Oye'}

In [8]:
# we can make set from a list
#output: {1,2,3}
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [9]:
# set cannot have duplicates
#output: {1,2,3,4}
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [10]:
my_set = {1,2, [3,4]}

TypeError: unhashable type: 'list'

In [11]:
# initialize my_set
my_set = {1,3}
print(my_set)

{1, 3}

In [13]:
#add an element
# output: {1,2,3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [14]:
# add multiple elements
#output: {1,2,3,4}
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [15]:
# add list and set
#output: {1,2,3,4,5,6,8}
my_set.update([4,5],[5,6,8])
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [16]:
# initialize my_set
my_set = {1,2,3,4,5,6}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [17]:
#discard an element
my_set.discard(4)
print(my_set)

{1, 2, 3, 5, 6}

In [18]:
#remove an element
my_set.remove(6)
print(my_set)

{1, 2, 3, 5}

In [ ]:
|#pops a random item
my_set.pop()
print(my_set)

In [20]:
#clear my_set
my_set.clear()
print(my_set)

set()

union

In [21]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [22]:
# use | operator
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
# use union function on A
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# use union function on B
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

intersection

In [25]:
# use & operator
print(A&B)

{4, 5}

In [26]:
A.intersection(B)

{4, 5}

set difference

In [27]:
# use - operator on A
print(A-B)

{1, 2, 3}

In [28]:
# use difference function on A
A.difference(B)

{1, 2, 3}

In [29]:
# use - operator on B
print(B-A)

{8, 6, 7}

In [30]:
# use difference function on B
B.difference(A)

{6, 7, 8}

symmetric difference

In [31]:
# use ^ operator
print(A^B)

{1, 2, 3, 6, 7, 8}

In [32]:
# use summetric_difference function on A
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [1]:
#Ques. WAP to add 10 numbers in a set where the numbers are entered by user
s = set()
for i in range(10):
    item = int(input('Enter the values:')) 
    s.add(item)   
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# DICTIONARY

Why do we need dictionary?

list are inefficient for searching and storing meaning full data

# dictionary is a collection of key value pair

In [1]:
mark_dict = {'Alan' : 30, 'Brian' : 50, 'David' : 60, 'Charles' : 70}
print(mark_dict)

{'Alan': 30, 'Brian': 50, 'David': 60, 'Charles': 70}

In [2]:
mark_dict['Charles']   #get value of charles or any other person whose name is in the list

70

In [6]:
print("Charles got",mark_dict['Charles'])
print("we are adding grace marks for Alan")
mark_dict['Alan'] = 45
print('new marks for Alan is', mark_dict['Alan'])

Charles got 70
we are adding grace marks for Alan
new marks for Alan is 45

In [8]:
mark_dict_v2 = {
    'student 1': {
        'name': 'Alan',
        'cgpa' : 8.3
    },
    'student 2': {
        'name': 'Brian',
        'cgpa' : 7.9
    },
    'student 3': {
        'name': 'Charles',
        'cgpa' : 9.0
    }
}

In [9]:
print(mark_dict_v2['student 1'])

{'name': 'Alan', 'cgpa': 8.3}

In [11]:
print(mark_dict_v2['student 1']['name'])

Alan

In [12]:
print(mark_dict_v2['student 2']['cgpa'])

7.9

In [16]:
# create a dictionary to store movie name, year, rating, and overview
movie_dict = {
    'movie 1': {
        'name': 'Annabelle',
        'year': 2012,
        'rating': 4.5,
        'overview': 'A ghost doll'
    },
    'movie 2': {
        'name': 'The Rings',
        'year': 2010,
        'rating': 4.1,
        'overview': 'A death girl'
    },
    'movie 3': {
        'name': 'Insidious',
        'year': 2013,
        'rating': 4.0,
        'overview': 'Scary'
    }    
}

In [17]:
print(movie_dict['movie 1'])

{'name': 'Annabelle', 'year': 2012, 'rating': 4.5, 'overview': 'A ghost doll'}

In [18]:
my_dict = {'name': 'Jack', 'age': 26}

In [19]:
print(my_dict['name'])

Jack

#using get method

print(my_dict.get('age'))

In [21]:
print(my_dict['address'])

KeyError: 'address'

In [22]:
print(my_dict.get('address'))

None

In [24]:
print(movie_dict.get('movie 2'))

{'name': 'The Rings', 'year': 2010, 'rating': 4.1, 'overview': 'A death girl'}

In [25]:
print(movie_dict.get('movie 2')['rating'])

4.1

#updating in the dictionary

In [26]:
movie_dict['movie 2']['rating'] = 5.0
print(movie_dict)

{'movie 1': {'name': 'Annabelle', 'year': 2012, 'rating': 4.5, 'overview': 'A ghost doll'}, 'movie 2': {'name': 'The Rings', 'year': 2010, 'rating': 5.0, 'overview': 'A death girl'}, 'movie 3': {'name': 'Insidious', 'year': 2013, 'rating': 4.0, 'overview': 'Scary'}}

In [27]:
movie_dict['movie 2']['studio'] = 'Warner Bros'
print(movie_dict)

{'movie 1': {'name': 'Annabelle', 'year': 2012, 'rating': 4.5, 'overview': 'A ghost doll'}, 'movie 2': {'name': 'The Rings', 'year': 2010, 'rating': 5.0, 'overview': 'A death girl', 'studio': 'Warner Bros'}, 'movie 3': {'name': 'Insidious', 'year': 2013, 'rating': 4.0, 'overview': 'Scary'}}

In [28]:
#create a dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5:25}

In [30]:
#remove a particular item, return its value
print(squares.pop(4))

16

In [31]:
#remove an arbitrary item, return(key, value)
print(squares.popitem())

(5, 25)

In [32]:
#remove all items
squares.clear()

In [38]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5:25}

In [39]:
#only values
for i in squares:
    print(i)

1
2
3
4
5

In [40]:
#only keys
for i in squares:
    print(squares[i])

1
4
9
16
25

In [41]:
#using item() method we get both key and value 
for k,v in squares.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25

In [42]:
for name,detail in movie_dict.items():
    print(name)
    print('---------')
    for k,v in detail.items():
        print(k,'=>',v)
    print('---------')

movie 1
---------
name => Annabelle
year => 2012
rating => 4.5
overview => A ghost doll
---------
movie 2
---------
name => The Rings
year => 2010
rating => 5.0
overview => A death girl
studio => Warner Bros
---------
movie 3
---------
name => Insidious
year => 2013
rating => 4.0
overview => Scary
---------